.elements {
  display: flex;
  flex-wrap: wrap;
  width: 882px;
  gap: 20px 18px;
}
.card {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.card__image-container {
  width: 282px;
  height: 282px;
}
.card__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}
.card__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
}
.card__caption {
  padding: 25px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}
.card__title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  white-space: nowrap;
}

@media screen and (max-width: 879px) {
  .elements {
    width: 320px;
    gap: 20px;
    justify-content: center;
  }
  .card {
    width: 282px;
    height: 361px;
  }
}
