.elements {
  display: flex;
  flex-wrap: wrap;
  width: 882px;
  gap: 20px 18px;
}

.card {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card__image-container {
  width: 282px;
  height: 282px;
}

.card__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

.card__delete {
  position: absolute;
  background-image: url("../images/trash.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
}

.card__delete:hover {
  cursor: pointer;
  opacity: 60%;
}

.card__caption {
  padding: 21px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  width: 244px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__like {
  width: 24px;
  height: 19px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.card__like:hover {
  opacity: 60%;
  cursor: pointer;
}
.card__like_active {
  background-image: url("../images/heart-active.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 19px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .elements {
    width: 320px;
    gap: 20px;
    justify-content: center;
  }

  .card {
    width: 282px;
    height: 361px;
  }
}
