.popup {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: center;
  background-color: rgba(0, 0, 0, 50%);
}
.popup_opened {
  top: 0px;
  display: flex;
}
.popup__container {
  background-color: #fff;
  color: #000;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  padding: 34px 36px 36px;
  top: 195px;
  position: absolute;
  margin: 0 auto;
}
.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__close:hover {
  cursor: pointer;
  opacity: 60%;
}
.popup__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: 0;
}

.popup__input::placeholder {
  color: #c4c4c4;
}
.popup__input_name {
  margin: 54px 0 0;
}
.popup__input_job {
  margin: 30px 0 0;
}
.popup__input_title {
  margin: 54px 0 30px;
}
.popup__input_link {
  margin-bottom: 48px;
}
.popup__button {
  height: 50.15px;
  width: 100%;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 48px;
}
.popup__button:disabled {
  background-color: white;
  color: lightgray;
  border: 1px solid lightgrey;
  margin-top:10px;
}

.popup__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__input_has_error {
  border-bottom: 1px solid red;
}

.popup__content-image {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 433px;
  max-height: 540px;
}
.popup__close-button-image {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: -30px;
  right: -20px;
  background-color: transparent;
}

.popup__close-button-image:hover {
  opacity: 0.6;
}
.popup__error {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  color: red;
  margin: 0 36px;
  display: flex;
}

.popup__image {
  width: 433px;
  height: 540px;
}
.popup__image-title {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

@media screen and (max-width: 879px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
  .popup__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -40px;
    right: 0;
  }
  .popup__input {
    padding-bottom: 9px;
  }
  .popup__input_name {
    margin: 76px 0 30px;
  }
  .popup__input_title {
    margin: 76px 0 30px;
  }
  .popup__button {
    height: 46px;
    font-size: 14px;
  }
  .popup__image {
    width: 300px;
    height: 350px;
    margin-top: 0;
  }
  .popup__image-title {
    margin-top: 10px;
    margin-right: 60px;
  }
}
