.page {
  width: 882px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 879px) {
  .page {
    width: 320px;
  }
}
