.profile {
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
}
.profile__avatar-image {
  width: 100%;
  border-radius: 50%;
}
.profile__info {
  width: 414px;
  margin: 0 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.profile__name {
  font-size: 42px;
  width: 373px;
  line-height: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 17px;
  background-color: transparent;
  border: 1px solid #fff;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}
.profile__job {
  width: 373px;
  margin-top: 16px;
  line-height: 21.78px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: auto;
}
.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .profile {
    flex-direction: column;
    width: 320px;
    max-height: none;
  }
  .profile__info {
    width: 280px;
    margin: 0;
    justify-content: space-around;
  }
  .profile__name {
    width: 250px;
    font-size: 22px;
  }
  .profile__job {
    width: 250px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 0;
    text-align: center;
  }
  .profile__edit-button {
    margin-left: 0;
  }

  .profile__add-button {
    width: 282px;
    margin: 20px auto 0;
  }
}
